@import "primeicons/primeicons.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "primevue/resources/themes/lara-light-blue/theme.css";
:root {
  --primary-color-text: #ffffff;
  --surface-border: #dddddd;
  --text-color: #333333;
  --bg-item: #f3f4f6;
  --bg-card: #ffffff;
}

html {
  background-color: #f5f5f5; /* Un gris claro */
}

/* Si usas una clase para dark mode */
.my-app-dark {
  background-color: #121212; /* Un fondo oscuro para el dark mode */
  --bg-item: #1f2937;
  --bg-card: #1f2937;
}

[x-cloak] {
  display: none;
}
